<%- include('../Layouts/userHeader.ejs') %>


 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
     crossorigin="anonymous"></script> 
  <!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        <a href="/home"><img src="/public/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                  <nav class="header__menu">
                      <ul>
                          <li class="active"><a href="/home">Home</a></li>
                          <li ><a href="/shop">Shop</a></li> 
                          <% if(session){ %>                      
                          <li><a href="#"><%= userDetails.name %></a>                          
                              <ul class="dropdown">
                                      <li><a href="/userProfile">My Profile</a></li> 
                                      <li><a href="/logout">Logout</a></li>
                                  </ul>
                              </li>
                          <% }else {%> 
                          <li><a href="#">Click here</a>                          
                                  <ul class="dropdown">      
                                     <li> <a href="/login">Login</a></li>
                                     <li> <a href="/register">Register</a></li>
                                  </ul>
                              </li>
                                  <% } %>
                      </ul>
                  </nav>
              </div>
                <div class="col-lg-3">
                    <div class="header__right">
                      
                        <ul class="header__right__widget">
                            <li><a href="/wishlist"><span><img  style="max-width: 50%;" src="/public/img/filled-like.png" alt="#"></span></a></li>
                            <li><a href="/cart"><span class="icon_bag_alt"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

       <!-- Breadcrumb Begin -->
       <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <span>Check Out</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
   
    <!-- Checkout Section Begin -->
    <section class="checkout spad" id="reloadDiv">
        <div class="container">
            <% if (coupons && coupons.length> 0) { %>
              <div class="row">
                <div class="col-lg-12">
                    <h6 class="coupon__link"><span class="icon_tag_alt"></span>For apply Coupon    <button type="button" data-bs-toggle="modal" data-bs-target="#Coupon"
                      class="btn btn-danger btn-sm rounded-pill">Click here</button>
                </div>
            </div>
           <div class="container bg-danger">
              <div id="Coupon" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog bg-light text-black">
                      <% for (var i=0; i < coupons.length; i++) { %>
                          <span class="close" onclick="closePopup()">&times;</span>
                          <h5>Coupon Codes</h5>
                          <ul>
                              <li>
                                  <h5 style="text-shadow: darkgrey; font-weight: 600;">
                                      <%= coupons[i].couponCode %>
                                  </h5>
                              </li>
                              <li>
                                  <h6>Minimum Purchase of : <%= coupons[i].minAmount %>Rs</h6>
                              </li>
                              <li>
                                  <h6>Maximum Discount : <%= coupons[i].maxDiscount %>Rs</h6>
                              </li>
                          </ul>
                          <hr>
                          <% } %>
                  </div>
              </div>
          </div>
              <% } else { %>
                <div class="row">
                  <div class="col-lg-12">
                      <h6 class="coupon__link"><span class="icon_tag_alt"></span>No coupon Available</h6>   
                  </div>
              </div>
                  <% } %>
                <div class="row">
                    <div class="col-lg-8">
                        <h5>Billing detail</h5>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="checkout__form__input">
                                    <form action=""  id="coupon-form-submit">
                                    <p>Enter coupon code<span>*</span></p>
                                    <input id="coupon" placeholder="" type="text">
                                    
                                    <button type="submit" id="applyCoupon"  style="padding: 10px 10px;"
                                    form="coupon-form-submit" class="site-btn">Apply coupon</button>
                                    <small id="codestate"></small>
                                </form>
                                </div>
                            </div>
                            <form action="/checkout" method="post" class="checkout__form" id="">
                            <div class="col-lg-12">
                                <br>
                                <br>
                            <h5> <a href="/addAddress">Add New Address +</a></h5>
                            </div>
                            
                           
                            <div class="col-lg-12">
                                <% for (let i=0; i < userAddress.length; i++) { %>
                                  
                                    <div class="mt-4 border" style="border-radius: 10px;">
                                      <label>
                                        <input type="radio" name="address" value="<%= i %>">
                                        <div>
                                          <%= userAddress[i].name %>,<%= userAddress[i].address %>
                                        </div>
                
                                        <div>
                                          <%= userAddress[i].city %>,<%= userAddress[i].zip %>
                                        </div>
                
                                        <div>
                                          <%= userAddress[i].district %>
                                        </div>
                                        <div>
                                          <%= userAddress[i].state %>
                                        </div>
                                        <div>
                                          <%= userAddress[i].mobile %>,<%= userAddress[i].number %>,
                                        </div>
                                        <div>
                                          <a href="/editAddress?index=<%= i %>"><i style="color: rgb(90, 130, 240);" class=" fa fa-solid fa-edit"></i></a>
                                          <a type="submit" class="ms-1" onclick="delete_address('<%= i %>')"><i style="color: rgb(235, 58, 58);" class=" fa fa-solid fa-trash"></i></a>

                                        </div>
                
                                      </label>
                
                                    </div>
                                    <% } %>
                <% if(message !== 'undefined'){%>
                  <p><%= message%></p>

              <%  } %>                
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="checkout__order">
                                <h5>Your order</h5>
                                <div class="checkout__order__product">
                                    <ul>
                                        <li>
                                            <span class="top__text">Product</span>
                                            <span class="top__text__right">Total</span>
                                        </li>
                                        <% items.forEach(item => {%>
                                            <li><%=item.product.productname %><span id="price-<%= item._id %>"><%= (item.price * item.quantity).toFixed(2) %></span></li>
                                       <% }); %>
                          

                                    </ul>
                                </div>
                           
                                <div class="checkout__order__total">
                                  <ul>
                                    
                                    <li>
                               
                                      <a href="" id="dicount" style="text-decoration: none; pointer-events: none;">Coupon Discount</a>
                                      <span id="disc" name="disc" class="text-success" >0</span>
                                    
                                     </li>
                                  </ul>
                              </div>
                            
                               
                                <div class="checkout__order__widget">
                                    <input type="radio" id="o-acc" name="flexRadioDefault">
                                    <label for="o-acc" style="margin-top: -24px;"> Use Wallet</label>
                                 
                                
                                <p>Blance :<%= wallet %></p>
                                </div>
                                <div class="checkout__order__total">
                                  <ul>
                                     <li>
                                
                                        <a href="">Total
                                          <span id="ok">$ <%=(totalPrice).toFixed(2) %></span>
                                        </a>
                                    
                                      </li>
                                  </ul>
                              </div>
                                <input type="hidden" name="totalPrice" id="totalPrice" value="<%= totalPrice.toFixed(2)  %>">

                                <button type="submit" class="btn_3 site-btn">Place Oder</button>
                            </div>
                        </div>
                    </div>
                </form>  
            </div>
        </section>

        <script>
          function openPopup() {
              document.getElementById("couponPopup").style.display = "block";
          }

          function closePopup() {
              document.getElementById("couponPopup").style.display = "none";
          }
      </script>
   
   

  <script>
    $("#coupon-form-submit").submit((e) => {
      let couponValue = document.getElementById('coupon').value;
      e.preventDefault();
      $.ajax({
        url: '/checkCoupon',
        method: 'post',
        data: { coupon: couponValue },
        success: (response) => {
          if (response.status) {
            console.log(response.discountPrice)
            $("#total").load(location.href + " #total");
            //document.getElementById('coupon1').innerText = couponValue
            $("#discount1").val(response.discountPrice);
            $("#coupon1").val(couponValue);
            //$("#discount1").val(discountValue);
            document.getElementById('disc').innerText = '$' + response.discountPrice
            console.log(response.amount);
            document.getElementById('ok').innerText = '$' + response.amount

            document.getElementById('totalPrice').value = parseInt(response.amount);

            document.getElementById('codestate').style.color = "green"
            document.getElementById('codestate').innerText = 'Coupon applied successfully'
            
            $("#applyCoupon").hide();
          } else if (response.used) {
            document.getElementById('codestate').style.color = "red"
            document.getElementById('codestate').innerText = 'Coupon already used!'
          } else if (response.expired) {
            document.getElementById('codestate').style.color = "red"
            document.getElementById('codestate').innerText = 'Sorry coupon is expired!'
          } else if (response.noMatch) {
            document.getElementById('codestate').style.color = "red"
            document.getElementById('codestate').innerText = 'Oops invalid coupon code!'
          } else if (response.lowPrice) {
            document.getElementById('codestate').style.color = "red"
            document.getElementById('codestate').innerText = 'total price of your purchace not enough for this coupon'
          }
        }
      })
    })
  </script>



  <script>
    const addressForm = document.getElementById('addressForm');
    const submitButton = addressForm.querySelector('.btn_3');

    submitButton.addEventListener('click', function (event) {
      const selectedAddress = addressForm.querySelector('input[name="address"]:checked');
      if (!selectedAddress) {
        event.preventDefault(); // Prevent the form from being submitted
        alert('Please select an address.'); // Show an error message to the user
      }
    });

    
  </script>
  


<script>

  function delete_address(index) {

    Swal.fire({
      title: 'Are you sure?',
      text: "You wan't to delete this address!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'yes, delete!'
    }).then((result) => {
      if (result.isConfirmed) {
        $.ajax({
          url: "/delete_Address",
          data: {
            indexcn: index
          },
          method: 'post',
          success: (response) => {
            $('#reloadDiv').load('/checkout #reloadDiv')
            console.log(response);
            Swal.fire({
              title: 'deleted!',
              text: 'Your deleted',
              icon: 'success',
              showConfirmButton: false,
              timer:1300,
            })

          }

        })
      }
    })
  }

</script>



<%- include('../Layouts/userFooter.ejs') %>